@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

nav{
    background-color: beige;
    height: 63px;
    color: #000;    
    font-family: "Sevillana", cursive;
    display: flex;
    padding: 0 12px;
    align-items: center;
    font-size: 27px;
}
nav li{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    margin: 50px;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Sevillana", cursive;
}
.box{
    border: 2px solid ;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.box:hover{
    background-color: aquamarine;
}


.gameInfo{
    padding: 34px;
    font-family: "Balsamiq Sans", sans-serif;
}

.imgbox img{
    width: 0;
    transition: width is ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}